<style>
* {
    box-sizing: border-box;
}


.custom-background{
	background: url(http://image.desk7.net/3D%20Digital%20Art%20Wallpapers/342_1280x800.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;

}


#page{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

#header{

	width: 100%;
	background-color: #ffffff; 	
	padding-top: 10px;
	padding-bottom: 10px;

}

#title{
 	color:#289dcc;
}
#side-description{
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
	color: #666666;
}

.main{
	width: 100%;
	background-color: #ffffff;
	position: relative;
}

#calculator{
	width: 40%;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	margin-top: 1%;
	margin-left: 1%;
	height: 320px;
}

#site-navigation{
	background-color: #232323;
	border-top: 4px solid #289dcc;
	color: #ffffff;
	font-size: 30px;
	width: 100%;
}

#site-navigation a{
	color: #ffffff;
}

#site-navigation a:hover{
	color: #289dcc;
}

.options-bar{
	margin-left: 10px;
}

.Converter-sub-title{
	background-color: #289dcc; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #ffffff;
	width: 100%;
	margin: auto;
	display: block;
	
}

.input-data{
	width: 90%;	
	display: block;
    margin: auto;
    position: relative;
}

input[type="text"], textarea {
	width:100%;
  	background-color : #289dcc;
  	color: #ffffff;
  	text-align: center;
  	padding-bottom: 10px;
  	padding-top: 10px;
  
}

.Arrow{
    font-size: 30px;
    text-decoration: none; 
	position:absolute;
	right: 5;
	top: 2;
}

.Arrow a{
	background-color: #289dcc;
	color:white;
 	padding: 0px 8px;
	}
	
.Arrow a:hover{
	cursor:pointer;
	color:#232323;
 	}
	
.Currency-from{
	background-color: #289dcc;
	color:white;
	width: 90%;
	text-align: center;
	padding-top:10px; 
	padding-bottom: 10px;
	margin: auto;

}
.select-currency{
	width: 90%;
	margin: auto;
	text-align: center;
}

.currency-calculator{
	width: 57%;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
	margin-top: 1%;
	height: 320px;
}



.ccOutputBx {
    background-color: #ffffff;
    width: 76%;
    border-top: 1px solid #cccccc;
    border-bottom: 3px solid #cccccc;
    padding: 5px 0;
    margin: 25px auto 10px;
}


.ccOutputTxt {
    color:#232323;
    display: block;
    padding: 0 0 0 5px;
}

.ccOutputRslt {
    font-size: 2.8em;
    color: #289dcc;
    font-weight: bold;
    display: block;
    text-align: center;
    clear: both;
    line-height: 1.8;
}

.calOutputTS {
    display: block;
    font-size: .8em;
    color:#232323;
    width: 88%;
    text-align: right;
}

.rates-link{
	padding-left: 40px;
}

.rates-link a{
	text-decoration: none;
		color:#289dcc;
}

.rates-link a:hover{
	text-decoration:underline; 
}


@media screen and (min-width:0px){
   #title {
     font-size:16pt; 
   }
      #side-description{
   	margin-top: -15px;
   	font-size: 10pt;
   	}
   	  	#header{
			text-align: center;
	}
   	#calculator{
	width: 98%;
	}
		.currency-calculator{
	width: 98%;
	position: relative;
	margin-left: 1%;
	}
}

@media screen and (min-width:600px){
   #title {
     font-size:24pt; 
   }
   #side-description{
   	margin-top: -20px;
   	  	font-size: 16pt;
   	}
   
      	#header{
			text-align: left;
		text-indent: 40px;
	}
	  	#calculator{
	width: 40%;
	}
	
			.currency-calculator{
	width: 57%;
	position:absolute;
	top:10%;
	right: 0 ;
	margin-right: 1%;
	}
}




@media screen and (min-width:1000px){
   #title {
     font-size:32pt; 
   }
   #side-description{
   	margin-top: -20px;
   	  	font-size: 22pt;
   	}
   	
   	 	#header{
		text-align: left;
		text-indent: 40px;
	}
	
}
   	
}